{% extends 'base.html'%}

{% block content %}
<div class="container container-index w-100 h-100 shadow-sm">
  <div class="row">
    <div class="col-3 border-right">
      <nav class="border-right card shadow-sm mt-5 mb-5 sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column nav-fill nav-tabs">
            <li class="nav-item text-left">
              <a class="nav-link btn-block" href="index">
                <i class="fas fa-home"></i>
                <span>Home</span>
              </a>
            </li>
            <li class="nav-item text-left">
              <a class="nav-link btn-block" href="info">
                <i class="fas fa-user-edit"></i>
                <span>Personal Information</span>
              </a>
            </li>
            <li class="nav-item text-left">
              <a class="nav-link btn-block" href="submit">
                <i class="fas fa-file-upload"></i>&nbsp;&nbsp;
                <span>My Submission</span>
              </a>
            </li>
            <li class="nav-item text-left">
              <a class="nav-link btn-block active" href="fee">
                <i class="fas fa-comments-dollar"></i>&nbsp;
                <span>Conference Fee</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-9 p-3">
      <h3 class="border-bottom"><strong>Conference Fee</strong></h3>
      <h4 class="border-bottom mt-3 font-weight-bold">Details</h4>
      <table class="table table-striped shadow-lg">
          <thead class="table-primary">
          <tr>
            <th>&nbsp;</th>
            <th>Early Registration<br> by Feb. 20, 2020</th>
            <th><strong>Regular Registration<br> Feb. 21 – Apr. 22, 2020</strong></th>
            <th><strong>Onsite Registration<br> Apr.23 – 25, 2020</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Student</td>
            <td>RMB 1250 (USD 190)</td>
            <td>RMB 1600 (USD 240)</td>
            <td>RMB 2000 (USD 300)</td>
          </tr>
          <tr>
            <td>Academic</td>
            <td>RMB 2500 (USD 380)</td>
            <td>RMB 3000 (USD 460)</td>
            <td>RMB 3500 (USD 530)</td>
          </tr>
          <tr>
            <td>Industry</td>
            <td>RMB 3000 (USD 460)</td>
            <td>RMB 3500 (USD 530)</td>
            <td>RMB 4000 (USD 610)</td>
          </tr>
        </tbody>
      </table>
      <p>
        Registration fees include
      </p>
      <ul>
        <li> All scientific sessions</li>
        <li> Poster sessions</li>
        <li> Meals as indicated in the conference program</li>
        <li> Program book </li>
      </ul>
      <p><strong>Registrations fees do not include accommodation.</strong></p>
      <p>Registration for the conference will be available soon. Please check back on this site for updates.</p>
      <p>For questions regarding registration for this conference, please contact:</p>
      <p><a href="mailto:neuroengineering@outlook.com">neuroengineering@outlook.com</a>
      </p>
      <h4 class="border-bottom mt-5 font-weight-bold">Bank Transfer</h4>
      <ul>
        <li>Bank Account Number: 7731  6632  0380</li>
        <li>Bank Name: 中国银行深圳西丽支行</li>
        <li>Name: 深圳市三晨生物科技有限公司</li>
      </ul>
      <p><strong>Please note your name when you transfer. We will send you an email as soon as possible if we receive your transfer.</strong></p>
      <h4 class="border-bottom mt-5 font-weight-bold">Alipay</h4>
      <p>Coming soon.</p>
    </div>
  </div>
</div>
{% endblock %}