{% extends 'base.html' %}

{% block header%}
{% endblock%}

{% block content %}
<div class="container container-index w-100 h-100 shadow-sm">
  <div class="row">
    <div class="col-3 border-right">
      <nav class="border-right card shadow-sm mt-5 mb-5 sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column nav-fill nav-tabs">
            <li class="nav-item text-left">
              <a class="nav-link btn-block" href="index">
                <i class="fas fa-home"></i>
                <span>Home</span>
              </a>
            </li>
            <li class="nav-item text-left">
              <a class="nav-link btn-block" href="info">
                <i class="fas fa-user-edit"></i>
                <span>Personal Information</span>
              </a>
            </li>
            <li class="nav-item text-left">
              <a class="nav-link btn-block" href="submit">
                <i class="fas fa-file-upload"></i>&nbsp;&nbsp;
                <span>My Submission</span>
              </a>
            </li>
            <li class="nav-item text-left">
              <a class="nav-link btn-block" href="fee">
                <i class="fas fa-comments-dollar"></i>&nbsp;
                <span>Conference Fee</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-9 p-3 mt-4">
      <h3 class="border-bottom"><strong>Welcome</strong></h3>
      <p>Here you can <strong>modify your personal information</strong>, <strong>upload a abstract</strong>, and <strong>pay for the conference</strong> if you need. </p>
    </div>
  </div>
</div>
{% endblock %}