{% extends 'base.html'%}

{% block content %}
<div class="container-fluid bg-light">
    <div class="row mt-5">
      <nav class="col-md-3 d-none d-md-block sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column nav-fill nav-tabs">
            <li class="nav-item mb-1 mt-1 text-left">
              <a class="nav-link btn-block" href="index">
                <i class="fas fa-home"></i>
                <span class="badge-light">Home</span> 
              </a>
            </li>
            <li class="nav-item mb-1 mt-1 text-left">
              <a class="nav-link btn-block active" href="info">
                <i class="fas fa-user-edit"></i>
                <span class="badge-light">Personal Information</span> 
              </a>
            </li>
            <li class="nav-item mb-1 mt-1 text-left">
              <a class="nav-link btn-block" href="submit">
                <i class="fas fa-file-upload"></i>&nbsp;&nbsp;
                <span class="badge-light">My Submission</span> 
              </a>
            </li>
            <li class="nav-item mb-1 mt-1 text-left">
              <a class="nav-link btn-block" href="registration">
                <i class="fas fa-registered"></i>&nbsp;
                <span class="badge-light">Conference Registration</span> 
              </a>
            </li>
            <li class="nav-item mb-1 mt-1 text-left">
              <a class="nav-link btn-block"  href="fee">
                <i class="fas fa-comments-dollar"></i>&nbsp;
                <span class="badge-light">Conference Fee</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
  
      <main role="main" class="col-md-9 ml-sm-auto col-lg-9 px-4">

      </main>
    </div>
  </div>
{% endblock %}