{% extends 'base.html'%}

{% block content %}
<div class="container-fluid bg-light">
    <div class="row mt-5">
      <nav class="col-md-3 d-none d-md-block sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column nav-fill nav-tabs">
            <li class="nav-item mb-1 mt-1 text-left">
              <a class="nav-link btn-block" href="index">
                <i class="fas fa-home"></i>
                <span class="badge-light">Home</span> 
              </a>
            </li>
            <li class="nav-item mb-1 mt-1 text-left">
              <a class="nav-link btn-block" href="info">
                <i class="fas fa-user-edit"></i>
                <span class="badge-light">Personal Information</span> 
              </a>
            </li>
            <li class="nav-item mb-1 mt-1 text-left">
              <a class="nav-link btn-block" href="submit">
                <i class="fas fa-file-upload"></i>&nbsp;&nbsp;
                <span class="badge-light">My Submission</span> 
              </a>
            </li>
            <li class="nav-item mb-1 mt-1 text-left">
              <a class="nav-link btn-block active" href="registration">
                <i class="fas fa-registered"></i>&nbsp;
                <span class="badge-light">Conference Registration</span> 
              </a>
            </li>
            <li class="nav-item mb-1 mt-1 text-left">
              <a class="nav-link btn-block"  href="fee">
                <i class="fas fa-comments-dollar"></i>&nbsp;
                <span class="badge-light">Conference Fee</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
  
      <main role="main" class="col-md-9 ml-sm-auto col-lg-9 px-4">
        <div class="row justify-content-center">
          <div class="card shadow-lg bg-light border-0">
            <!-- <div class="card-header">
              Log in
            </div> -->
            <div class="card-body">
            <!-- <h3 class="header">Please sign in</h3>
            <header class="my-3"></header> -->
            <form action="" method="post">
              <div class="form-group">
                <div class="input-group">
                  <!-- <label for="username">Username</label> -->
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                  </div>
                  <input type="text" class="form-control" name="username" id="username" placeholder="Username" required>
                </div>
              </div>  
              <div class="form-group">
                <!-- <label for="password">Password</label> -->
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                  </div>
                  <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                </div>
              </div>
              <hr>
              <div class="form-group">
                <button type="submit" class="btn btn-secondary btn-block">Login</button>
              </div>
            </form>
            <div class="form-group">
              <div class="input-group">
                <a class="btn btn-light btn-block" href="/auth/register">
                  <!-- <i class="fas fa-registered"></i> -->
                  Submit
                </a>
              </div>
              <!-- <span class="badge badge-info" href="#">Don't have an account yet?<a class="badge badge-info" href="#">Register</a>here.</span> -->
            </div>
            </div>
            <div class="card-footer">
              {% for message in get_flashed_messages() %}
              <span class="text-danger">{{ message }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
{% endblock %}