body,a,button,p,span,div
{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #e9ecef;
}

#poster{
    background-image: url('../img/background-1.jpg');
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
}

/* define the style for the link in navbar */
li.nav-item a {
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    color:rgb(122, 146, 190);
}  

li.nav-item a:hover {
    color:rgb(67, 107, 236) 
}   

button{
    display: inline-block;
    color: white;
    font-weight: 500;
    transition: color .15s ease-in-out,
                background-color .15s ease-in-out,
                border-color .15s ease-in-out,
                box-shadow .15s ease-in-out
}

.sidebar-wrapper{
    background-color: rgb(245, 245, 245);
}

.sub-title{
    color: rgb(119, 204, 199);
}

.divider{
    font-weight: 600;
    font-size: small;
    color: rgb(137, 137, 137);
}

.parent{
    margin-top: 10px;
}

.t {
    color: rgb(122, 146, 190);
}
