{% extends 'speaker.html' %}

{% block speaker %}
<div class="card mt-3 mb-3 shadow-sm">
    <div class="row no-gutters">
        <div class="col-md-4 col-lg-3 col-sm-6 p-3 bg-light border-right border-bottom">
            <img src="{{url_for('static', filename='img/7.png')}}" class="card-img img-fluid rounded-circle" alt="...">
        </div>
        <div class="col-md-8 col-lg-9 col-sm-6 p-3 bg-light">
            <h5>George Malliaras</h5>
            <p>
            </p>
        </div>
    </div>
</div>
{% endblock %}