{% extends 'speaker.html' %}

{% block speaker %}
<div class="row border-bottom mb-3">
    <span class="h3 mt-3 ml-4">
        Brain-machine Interfaces
    </span>
</div>
<div class="row">
    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/12.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/speakers/12"><small>Lee Miller</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/13.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/speakers/13"><small>Leigh Hochberg</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/14.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/speakers/14"><small>Miguel Nicolelis</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/23.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/speakers/23"><small>Andrew Schwartz</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/6.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/speakers/6"><small>Gaurav Sharma</small></a></div>
    </div>
</div>
{% endblock %}