{% extends 'speaker.html' %}

{% block speaker %}
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 p-3">
        <div class="card shadow">
            <img src="{{url_for('static', filename='img/8.png')}}" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <p>Grégoire Courtine</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 p-3">
        <div class="card shadow">
            <img src="{{url_for('static', filename='img/9.png')}}" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <p>John Rogers</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 p-3">
        <div class="card shadow">
            <img src="{{url_for('static', filename='img/11.png')}}" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <p>Kristin Zhao</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 p-3">
        <div class="card shadow">
            <img src="{{url_for('static', filename='img/15.png')}}" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <p>Serge Picaud</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 p-3">
        <div class="card shadow">
            <img src="{{url_for('static', filename='img/16.png')}}" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <p>Tamar Makin</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}