{% extends 'speaker.html' %}

{% block speaker %}
<div class="row border-bottom mb-3">
    <span class="h3 t">
        Neuroprosthetics
    </span>
</div>
<div class="row">
    <div class="col-2 p-1">
        <img src="{{url_for('static', filename='img/15.png')}}" class="img-thumbnail" alt="...">
        <a href="/speakers/15"><small>Serge Picaud</small></a>
    </div>

    <div class="col-2 p-1">
        <img src="{{url_for('static', filename='img/8.png')}}" class="img-thumbnail" alt="...">
        <a href="/speakers/8"><small>Grégoire Courtine</small></a>
    </div>

    <div class="col-2 p-1">
        <img src="{{url_for('static', filename='img/11.png')}}" class="img-thumbnail" alt="...">
        <a href="/speakers/11"><small>Kristin Zhao</small></a>
    </div>

    <div class="col-2 p-1"><img src="{{url_for('static', filename='img/9.png')}}" class="img-thumbnail"
            alt="...">
        <a href="/speakers/9"><small>John Rogers</small></a>
    </div>

    <div class="col-2 p-1">
        <img src="{{url_for('static', filename='img/16.png')}}" class="img-thumbnail" alt="...">
        <a href="/speakers/16"><small>Tamar Makin</small></a>
    </div>
</div>
{% endblock %}