{% extends 'speaker.html' %}

{% block speaker %}
<div class="row border-bottom mb-3">
    <span class="h3 mt-3 ml-4">
        Neuroprosthetics
    </span>
</div>
<div class="row">
    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/8.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/speakers/8"><small>Grégoire Courtine</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/9.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/speakers/9"><small>John Rogers</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/16.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/speakers/16"><small>Tamar Makin</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/11.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/speakers/11"><small>Kristin Zhao</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/15.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/speakers/15"><small>Serge Picaud</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/22.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/speakers/22"><small>Bijan Pesaran</small></a></div>
    </div>
</div>
{% endblock %}