{% extends 'root/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-1 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky mt-5">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/root/guest">
                            注册嘉宾
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/root/abstract">
                            摘要提交
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/root/fee">
                            会议缴费
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-10 ml-sm-auto col-lg-11 px-4">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">控制台</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <a class="btn btn-sm btn-outline-primary" href="/download/db">备份数据库</a>
                        <a class="btn btn-sm btn-outline-info" href="/download/excel">导出Excel</a>
                        <a class="btn btn-sm btn-outline-info" href="/download/batch">导出摘要</a>
                    </div>
                </div>
            </div>
            <h2>会议缴费</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>缴费人</th>
                            <th>发票抬头</th>
                            <th>纳税人识别号</th>
                            <th>缴费时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for invoice in invoices %}
                        <tr>
                            <td>
                                <span class="btn btn-primary text-white">{{ invoice["user_id"]}}</span>                                
                            </td>
                            <td>
                                <span class="btn btn-primary text-white">{{ invoice["invoice_title"]}}</span>     
                            </td>
                            <td>
                                <span class="btn btn-primary text-white">{{ invoice["serial_num"]}}</span>     
                            </td>
                            <td>
                                <span class="btn btn-primary text-white">{{ invoice["created"]}}</span>     
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>
{% endblock %}