{% extends 'zh/speaker.html' %}

{% block speaker %}
<div class="card mt-5 shadow-sm">
    <div class="row no-gutters">
        <div class="col-md-4 col-lg-3 col-sm-6 p-3 bg-secondary">
            <img src="{{url_for('static', filename='img/10.png')}}" class="card-img img-fluid" alt="...">
        </div>
        <div class="col-md-8 col-lg-9 col-sm-6 p-3 bg-light">
            <h5>Kullervo Hynynen</h5>
            <p>加拿大Sunnybrook研究所物理科学平台主任。
                多伦多大学医学生物物理系教授，生物材料与生物医学工程研究所教授。
                加拿大成像系统与引导治疗研究主任。
                采用聚焦超声进行非侵入式介入治疗，包括研发聚焦组织切除术，药物递送和治疗中风。
                </p>
        </div>
    </div>
</div>
{% endblock %}