{% extends 'zh/speaker.html' %}

{% block speaker %}
<div class="card mt-5 shadow-sm">
    <div class="row no-gutters">
        <div class="col-md-4 col-lg-3 col-sm-6 p-3 bg-secondary">
            <img src="{{url_for('static', filename='img/12.png')}}" class="card-img img-fluid" alt="...">
        </div>
        <div class="col-md-8 col-lg-9 col-sm-6 p-3 bg-light">
            <h5>Lee E Miller</h5>
            <p>美国西北大学生理学系、理疗与康复系和生物医学工程系杰出教授。
                运动神经控制学会主席。
                主要研究领域：上肢运动中脑神经运动和感觉信号分析，以及恢复瘫痪病人运动和感觉能力的临床转化研究。
                </p>            
        </div>
    </div>
</div>
{% endblock %}