{% extends 'zh/speaker.html' %}

{% block speaker %}
<div class="card mt-3 mb-3 shadow-sm">
    <div class="row no-gutters">
        <div class="col-md-4 col-lg-3 col-sm-6 p-3 bg-light border-right border-bottom">
            <img src="{{url_for('static', filename='img/13.png')}}" class="card-img img-fluid rounded-circle" alt="...">
        </div>
        <div id="speaker" class="col-md-8 col-lg-9 col-sm-6 p-3 bg-light">
            <h5>Leigh Hochberg</h5>
            <p>
                美国麻省总医院神经病学系神经技术和神经恢复中心主任。
                美国布朗大学工程学教授。
                美国普罗维登斯医学中心神经恢复和神经技术中心主任。
                主要研究领域：研发用于治疗麻痹和神经紊乱病患的新型神经技术。
            </p>            
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
var ua = navigator.userAgent.toLocaleLowerCase();
    var pf = navigator.platform.toLocaleLowerCase();
    var isAndroid = (/android/i).test(ua)||((/iPhone|iPod|iPad/i).test(ua) && (/linux/i).test(pf))
        || (/ucweb.*linux/i.test(ua));
    var isIOS =(/iPhone|iPod|iPad/i).test(ua) && !isAndroid;
    var isWinPhone = (/Windows Phone|ZuneWP7/i).test(ua);

    var mobileType = {
        pc:!isAndroid && !isIOS && !isWinPhone,
        ios:isIOS,
        android:isAndroid,
        winPhone:isWinPhone
    };

    if(!mobileType.pc){
        (function(){
            $('html,body').animate({scrollTop:$("#speaker").offset().top}, 100);
            })();
    }
{% endblock %}