{% extends 'zh/speaker.html' %}

{% block speaker %}
<div class="card mt-3 mb-3 shadow-sm">
    <div class="row no-gutters">
        <div class="col-md-4 col-lg-3 col-sm-6 p-3 bg-light border-right border-bottom">
            <img src="{{url_for('static', filename='img/14.png')}}" class="card-img img-fluid rounded-circle" alt="...">
        </div>
        <div id="speaker" class="col-md-8 col-lg-9 col-sm-6 p-3 bg-light">
            <h5>Miguel Nicolelis</h5>
            <p>
                美国杜克大学Anne W. Deane 冠名神经科学教授。
                神经生物学系、生物医学工程系和心理学系教授。
                <strong>法国科学院院士，巴西科学院院士</strong>。
                对病人和非人灵长类进行脑机接口和神经假肢研究的世界先驱，创立了针对多种神经和精神紊乱症的整合研究方法。
            </p>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
var ua = navigator.userAgent.toLocaleLowerCase();
    var pf = navigator.platform.toLocaleLowerCase();
    var isAndroid = (/android/i).test(ua)||((/iPhone|iPod|iPad/i).test(ua) && (/linux/i).test(pf))
        || (/ucweb.*linux/i.test(ua));
    var isIOS =(/iPhone|iPod|iPad/i).test(ua) && !isAndroid;
    var isWinPhone = (/Windows Phone|ZuneWP7/i).test(ua);

    var mobileType = {
        pc:!isAndroid && !isIOS && !isWinPhone,
        ios:isIOS,
        android:isAndroid,
        winPhone:isWinPhone
    };

    if(!mobileType.pc){
        (function(){
            $('html,body').animate({scrollTop:$("#speaker").offset().top}, 100);
            })();
    }
{% endblock %}
