{% extends 'zh/speaker.html' %}

{% block speaker %}
<div class="card mt-5 shadow-sm">
    <div class="row no-gutters">
        <div class="col-md-4 col-lg-3 col-sm-6 p-3 bg-secondary">
            <img src="{{url_for('static', filename='img/16.png')}}" class="card-img img-fluid" alt="...">
        </div>
        <div class="col-md-8 col-lg-9 col-sm-6 p-3 bg-light">
            <h5>Tamar Makin</h5>
            <p>英国伦敦大学学院认知神经科学研究所副教授。
                主要研究领域：神经可塑性。研究假肢的使用对残障人士脑结构的重组效应。
                </p>            
        </div>
    </div>
</div>
{% endblock %}