{% extends 'zh/speaker.html' %}

{% block speaker %}
<div class="card mt-5 shadow-sm">
    <div class="row no-gutters">
        <div class="col-md-4 col-lg-3 col-sm-6 p-3 bg-light border-right border-bottom">
            <img src="{{url_for('static', filename='img/17.png')}}" class="card-img img-fluid rounded-circle" alt="...">
        </div>
        <div class="col-md-8 col-lg-9 col-sm-6 p-3 bg-light">
            <h5>段小洁</h5>
            <p>中国北京大学生物医学工程系副教授。
                研究领域包括纳米神经技术、纳米生物电子、神经生物材料和柔性神经植入体。
                </p>            
        </div>
    </div>
</div>
{% endblock %}