{% extends 'zh/speaker.html' %}

{% block speaker %}
<div class="card mt-5 shadow-sm">
    <div class="row no-gutters">
        <div class="col-md-4 col-lg-3 col-sm-6 p-3 bg-light border-right border-bottom">
            <img src="{{url_for('static', filename='img/18.png')}}" class="card-img img-fluid rounded-circle" alt="...">
        </div>
        <div class="col-md-8 col-lg-9 col-sm-6 p-3 bg-light">
            <h5>Xinyan Tracy Cui</h5>
            <p>美国匹兹堡大学生物医学工程系
                William Kepler Whiteford 冠名教授。
                神经电极界面和神经组织工程实验室主任。
                医疗创新领导小组成员。
                主要研究领域：神经组织与智能生物材料的交互。
                </p>            
        </div>
    </div>
</div>
{% endblock %}