{% extends 'zh/speaker.html' %}

{% block speaker %}
<div class="card mt-3 mb-3 shadow-sm">
    <div class="row no-gutters">
        <div class="col-md-4 col-lg-3 col-sm-6 p-3 bg-light border-right border-bottom">
            <img src="{{url_for('static', filename='img/19.png')}}" class="card-img img-fluid rounded-circle" alt="...">
        </div>
        <div id="speaker" class="col-md-8 col-lg-9 col-sm-6 p-3 bg-light">
            <h5>鲍哲南</h5>
            <p>
                美国斯坦福大学化学工程系
                K. K. Lee 冠名教授、系主任。
                <strong>美国国家工程院院士，美国国家发明家学院院士</strong>。
                斯坦福可穿戴电子创新会创始人和现任主任。
                Precourt Institute, Woods Institute, ChEM-H and Bio-X等高科技创新机构成员。
                C3 Nano Co. 和PyrAmes等高科技公司创始人。
            </p>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
var ua = navigator.userAgent.toLocaleLowerCase();
    var pf = navigator.platform.toLocaleLowerCase();
    var isAndroid = (/android/i).test(ua)||((/iPhone|iPod|iPad/i).test(ua) && (/linux/i).test(pf))
        || (/ucweb.*linux/i.test(ua));
    var isIOS =(/iPhone|iPod|iPad/i).test(ua) && !isAndroid;
    var isWinPhone = (/Windows Phone|ZuneWP7/i).test(ua);

    var mobileType = {
        pc:!isAndroid && !isIOS && !isWinPhone,
        ios:isIOS,
        android:isAndroid,
        winPhone:isWinPhone
    };

    if(!mobileType.pc){
        (function(){
            $('html,body').animate({scrollTop:$("#speaker").offset().top}, 100);
            })();
    }
{% endblock %}
