{% extends 'zh/speaker.html' %}

{% block speaker %}
<div class="card mt-3 mb-3 shadow-sm">
    <div class="row no-gutters">
        <div class="col-md-4 col-lg-3 col-sm-6 p-3 bg-light border-right border-bottom">
            <img src="{{url_for('static', filename='img/21.png')}}" class="card-img img-fluid rounded-circle" alt="...">
        </div>
        <div class="col-md-8 col-lg-9 col-sm-6 p-3 bg-light">
            <h5>
                Georg Nagel
            </h5>
            <p>
                德国维尔茨堡大学分子生理和生物物理系教授。
                通道视紫红质蛋白的发现者和光遗传技术世界先驱。
            </p>
        </div>
    </div>
</div>
{% endblock %}