{% extends 'zh/speaker.html' %}

{% block speaker %}
<div class="card mt-3 mb-3 shadow-sm">
    <div class="row no-gutters">
        <div class="col-md-4 col-lg-3 col-sm-6 p-3 bg-light border-right border-bottom">
            <img src="{{url_for('static', filename='img/23.png')}}" class="card-img img-fluid rounded-circle" alt="...">
        </div>
        <div class="col-md-8 col-lg-9 col-sm-6 p-3 bg-light">
            <h5>
                Andrew Schwartz
            </h5>
            <p>
                美国匹兹堡大学神经生物学杰出教授，系统神经科学主任。
                脑植入式控制上肢假肢运动的世界先驱。
            </p>
        </div>
    </div>
</div>
{% endblock %}