{% extends 'zh/speaker.html' %}

{% block speaker %}
<div class="card mt-5 shadow-sm">
    <div class="row no-gutters">
        <div class="col-md-4 col-lg-3 col-sm-6 p-3 bg-light border-right border-bottom">
            <img src="{{url_for('static', filename='img/8.png')}}" class="card-img img-fluid rounded-circle" alt="...">
        </div>
        <div class="col-md-8 col-lg-9 col-sm-6 p-3 bg-light">
            <h5>
                Grégoire Courtine
            </h5>    
            <p>
                瑞士洛桑联邦理工学院教授。
神经假肢中心和脑意识研究所，脊髓修复国际截瘫基金主任。
主要研究方向：设计和研发具有革命性的神经介入技术，用于中枢神经损伤后的感觉运动功能修复，并进行临床转化。
            </p>
        </div>
    </div>
</div>
{% endblock %}