{% extends 'zh/speaker.html' %}

{% block speaker %}
<div class="row border-bottom mb-3">
    <span class="h3 t">
        领衔嘉宾
    </span>
</div>
<div class="row">
    <div class="col-2 p-1">
        <img src="{{url_for('static', filename='img/zhenanBao.jpg')}}" class="img-thumbnail" alt="...">
        <a href="/zh/speakers/19"><small>鲍哲南</small></a>
    </div>

    <div class="col-2 p-1">
        <img src="{{url_for('static', filename='img/CharlesMLieber.jpg')}}" class="img-thumbnail" alt="...">
        <a href="/zh/speakers/3"><small>Charles M. Lieber</small></a>
    </div>

    <div class="col-2 p-1">
        <img src="{{url_for('static', filename='img/JohnRogers.jpg')}}" class="img-thumbnail" alt="...">
        <a href="/zh/speakers/9"><small>John A. Rogers</small></a>
    </div>

    <div class="col-2 p-1"><img src="{{url_for('static', filename='img/ArtoVNurmikko.jpg')}}" class="img-thumbnail"
            alt="...">
        <a href="/zh/speakers/2"><small>Arto V. Nurmikko</small></a>
    </div>

    <div class="col-2 p-1">
        <img src="{{url_for('static', filename='img/Nicolelis.jpg')}}" class="img-thumbnail" alt="...">
        <a href="/zh/speakers/13"><small>Miguel Nicolelis</small></a>
    </div>
</div>

{% endblock %}