{% extends 'zh/speaker.html' %}

{% block speaker %}
<div class="row border-bottom mb-3">
    <span class="h3 mt-3 ml-4">
        特邀嘉宾
    </span>
</div>
<div class="row">
    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/18.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/zh/speakers/18"><small>Xinyan Tracy Cui</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/19.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/zh/speakers/19"><small>鲍哲南</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/3.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/zh/speakers/3"><small>Charles Lieber</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/4.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/zh/speakers/4"><small>Dae-Hyeong Kim</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/7.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/zh/speakers/7"><small>George Malliaras</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/17.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/zh/speakers/17"><small>段小洁</small></a></div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/2.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/zh/speakers/2"><small>Arto Nurmikko</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/1.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/zh/speakers/1"><small>Arnd Pralle</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/5.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/zh/speakers/5"><small>Daryl Kipke</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/10.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/zh/speakers/10"><small>Kullervo Hynynen</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/21.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/zh/speakers/21"><small>Georg Nagel</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/20.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/zh/speakers/20"><small>Jacob Robinson</small></a></div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/8.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/zh/speakers/8"><small>Grégoire Courtine</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/9.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/zh/speakers/9"><small>John Rogers</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/16.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/zh/speakers/16"><small>Tamar Makin</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/11.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/zh/speakers/11"><small>Kristin Zhao</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/15.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/zh/speakers/15"><small>Serge Picaud</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/22.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/zh/speakers/22"><small>Bijan Pesaran</small></a></div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/12.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/zh/speakers/12"><small>Lee Miller</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/13.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/zh/speakers/13"><small>Leigh Hochberg</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/14.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/zh/speakers/14"><small>Miguel Nicolelis</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/23.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/zh/speakers/23"><small>Andrew Schwartz</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/6.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/zh/speakers/6"><small>Gaurav Sharma</small></a></div>
    </div>
</div>

{% endblock %}