{% extends 'zh/speaker.html' %}

{% block speaker %}
<div class="row border-bottom mb-3">
    <span class="h3 mt-3 ml-4">
        神经调控专题
    </span>
</div>
<div class="row">
    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/2.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/zh/speakers/2"><small>Arto V. Nurmikko</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/1.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/zh/speakers/1"><small>Arnd Pralle</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/5.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/zh/speakers/5"><small>Daryl R. Kipke</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1"><img src="{{url_for('static', filename='img/20.png')}}"
            class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/zh/speakers/20"><small>Jacob T. Robinson</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/21.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/zh/speakers/21"><small>Georg Nagel</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/10.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/speakers/10"><small>Kullervo Hynynen</small></a></div>
    </div>
</div>

{% endblock %}