{% extends 'zh/speaker.html' %}

{% block speaker %}
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 p-3">
        <div class="card shadow">
            <img src="{{url_for('static', filename='img/3.png')}}" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <p>Charles M.Lieber</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 p-3">
        <div class="card shadow">
            <img src="{{url_for('static', filename='img/4.png')}}" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <p>Dae-Hyeong Kim</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 p-3">
        <div class="card shadow">
            <img src="{{url_for('static', filename='img/7.png')}}" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <p>George Malliaras</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 p-3">
        <div class="card shadow">
            <img src="{{url_for('static', filename='img/17.png')}}" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <p>Xiaojie Duan</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 p-3">
        <div class="card shadow">
            <img src="{{url_for('static', filename='img/18.png')}}" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <p>Xinyan Tracy Cui</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 p-3">
        <div class="card shadow">
            <img src="{{url_for('static', filename='img/19.png')}}" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <p>Zhenan Bao</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}