{% extends 'zh/speaker.html' %}

{% block speaker %}
<div class="row border-bottom mb-3">
    <span class="h3 mt-3 ml-4">
        生物电子界面专题
    </span>
</div>
<div class="row">
    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/18.png')}}" class="img-thumbnail img-responsive" alt="...">
        <div class="row justify-content-center"><a href="/zh/speakers/18"><small>Xinyan Tracy Cui</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/19.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/zh/speakers/19"><small>鲍哲南</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/3.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/speakers/3"><small>Charles Lieber</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/4.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/zh/speakers/4"><small>Dae-Hyeong Kim</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/7.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/zh/speakers/7"><small>George Malliaras</small></a></div>
    </div>

    <div class="col-lg-2 col-md-6 col-sm-12 text-center p-1">
        <img src="{{url_for('static', filename='img/17.png')}}" class="img-thumbnail" alt="...">
        <div class="row justify-content-center"><a href="/zh/speakers/17"><small>段小洁</small></a></div>
    </div>
</div>
{% endblock %}