<!doctype html>
<title>{% block title %}{% endblock %}</title>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<link rel="shortcut icon" href="{{ url_for('static', filename='img/brain_favicon.ico')}}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
<script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/highlight.pack.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/jquery.fancybox.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/smooth-scroll.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/typed.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/all.js')}}"></script>
<script>
  // AOS.init({duration: 1200});
</script>
<body>
<div class="row">
  <img src="{{ url_for('static', filename='img/Title.png') }}" class="img-responsive" id="title">
</div>
<nav class="navbar navbar-light navbar-expand-lg bg-white sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='img/Brain_32.png') }}"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"> 
        <span class="navbar-toggler-icon">
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto ml-auto d-flex flex-column flex-md-row justify-content-between">
          <li class="nav-item mr-4">
            <a class="py-2" href="/">Home</a>
          </li>
          <li class="nav-item mr-4">
            <a class="py-2" href="/speakers">Speakers</a>
          </li>
          <li class="nav-item mr-4">
            <a class="py-2" href="#">Schedule</a>
          </li>
          <li class="nav-item mr-4">
            <a class="py-2" href="#">Accommodation</a>
          </li>
          <li class="nav-item dropdown mr-4">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Langage</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/zh">中文</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/">English</a>
            </div>
          </li>
        </ul>

            {% if g.user %}
              <!-- <li class="nav-item"><span class="nav-link">{{ g.user['username'] }}</span> -->
                <a class="nav-link" href="{{ url_for('auth.logout') }}">
                  <button class="btn btn-white">Logout</button>
                </a>
            {% else %}
                <a class="navbar-btn" href="{{ url_for('auth.login') }}">
                  Sign in              
                </a>
                <a class="navbar-btn btn btn-sm btn-primary ml-1" href="{{ url_for('auth.register') }}">
                  Sign up             
                </a>
            {% endif %}
          
      </div>
  </div>
</nav>
{% block content %}
{% endblock %}
<script>
    {% block script %}
    var ua = navigator.userAgent.toLocaleLowerCase();
    var pf = navigator.platform.toLocaleLowerCase();
    var isAndroid = (/android/i).test(ua)||((/iPhone|iPod|iPad/i).test(ua) && (/linux/i).test(pf))
        || (/ucweb.*linux/i.test(ua));
    var isIOS =(/iPhone|iPod|iPad/i).test(ua) && !isAndroid;
    var isWinPhone = (/Windows Phone|ZuneWP7/i).test(ua);

    var mobileType = {
        pc:!isAndroid && !isIOS && !isWinPhone,
        ios:isIOS,
        android:isAndroid,
        winPhone:isWinPhone
    };

    if(!mobileType.pc){
        (function(){
            // $('#title').attr("src", "/static/img/Title_mobile.png");
            $('#title').remove();
            })();
    }
    {% endblock %}
</script>
</body>