{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div id="poster" class="container jumbotron text-center flex-column mt-3">
            <div class="row m-5 py-5 rounded">
                <img class="img-fluid rounded mx-auto mt-5 d-block"
                    src="{{url_for('static', filename='img/anatureconference.png')}}" alt="">
                <div class="container mt-5 mb-5">
                    <button class="btn btn-primary lift">
                        Purchase Pass
                    </button>
                </div>
            </div>
        </div>
    </div>

    <section>
        <div class="container-fluid border-top py-3">
            <div class="row-fluid text-center">
                <img class="img-fluid" src="{{url_for('static', filename='img/MeetTheGuest.png')}}">
            </div>
        </div>
        <div class="container">
            <div class="card-deck mb-3">
                <div class="card mb-4 shadow">
                    <img src="{{url_for('static', filename='img/zhenanBao.jpg')}}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h6 class="card-title">Zhenan Bao</h5>
                    </div>
                </div>
                <div class="card mb-4 shadow">
                    <img src="{{url_for('static', filename='img/CharlesMLieber.jpg')}}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h6 class="card-title">Charles M.Lieber</h5>
                    </div>
                </div>
                <div class="card mb-4 shadow">
                    <img src="{{url_for('static', filename='img/JohnRogers.jpg')}}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h6 class="card-title">John A.Rogers</h5>
                    </div>
                </div>
                <div class="card mb-4 shadow">
                    <img src="{{url_for('static', filename='img/ArtoVNurmikko.jpg')}}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h6 class="card-title">Arto V.Nurmikko</h5>
                    </div>
                </div>
                <div class="card mb-4 shadow">
                    <img src="{{url_for('static', filename='img/Nicolelis.jpg')}}" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h6 class="card-title">Miguel Nicolelis</h5>
                    </div>
                </div>
            </div>

            <div class="container mt-3 mb-3 text-center">
                <button class="btn btn-primary lift">
                    Learn More
                </button>
            </div>

            <footer class="pt-4 my-md-5 pt-md-5 border-top">
                <div class="row">
                    <div class="col-12 col-md">
                        <img class="mb-2" src="{{ url_for('static', filename='img/Brain_32.png') }}" alt="" width="24"
                            height="24">
                        <small class="d-block mb-3 text-muted">© 2019-2010</small>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Host</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="#">###</a></li>
                        </ul>
                        <h5>Organizer</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="#">###</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Partners</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="#">###</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>About</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="#">Team</a></li>
                            <li><a class="text-muted" href="#">Locations</a></li>
                            <li><a class="text-muted" href="#">Privacy&Terms</a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
    </section>
</div>
{% endblock %}