{% extends 'base.html' %}

{% block content %}
<div class="container jumbotron text-center">
    <div>
        <div class="row">
            <img class="img-fluid rounded mx-auto mt-3 d-block" src="{{url_for('static', filename='img/welcome.png')}}"
                alt="">
        </div>
    </div>
    <div class="container mt-5">
        <button class="btn btn-primary lift">
            Purchase Pass
        </button>
    </div>
</div>
<section class="py-4 border-top">
    <div class="container-fluid">
        <div class="row-fluid text-center">
            <img class="img-fluid" src="{{url_for('static', filename='img/MeetTheGuest.png')}}">
        </div>
    </div>
    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">

                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-body">

                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-body">

                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-body">

                </div>
            </div>
        </div>

        <div class="container mt-3 text-center">
            <button class="btn btn-primary lift">
                Learn More
            </button>
        </div>

        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <img class="mb-2" src="{{ url_for('static', filename='img/Brain_32.png') }}" alt="" width="24" height="24">
                    <small class="d-block mb-3 text-muted">© 2019-2010</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Features</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Cool stuff</a></li>
                        <li><a class="text-muted" href="#">Random feature</a></li>
                        <li><a class="text-muted" href="#">Team feature</a></li>
                        <li><a class="text-muted" href="#">Stuff for developers</a></li>
                        <li><a class="text-muted" href="#">Another one</a></li>
                        <li><a class="text-muted" href="#">Last time</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Resource</a></li>
                        <li><a class="text-muted" href="#">Resource name</a></li>
                        <li><a class="text-muted" href="#">Another resource</a></li>
                        <li><a class="text-muted" href="#">Final resource</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Team</a></li>
                        <li><a class="text-muted" href="#">Locations</a></li>
                        <li><a class="text-muted" href="#">Privacy</a></li>
                        <li><a class="text-muted" href="#">Terms</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</section>

{% endblock %}

{% block script %}

{% endblock %}