{% extends 'base.html' %}

{% block content %}
<div class="container container-index w-100 h-100 shadow-sm">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <nav id="navbar-guest" class="navbar navbar-light bg-light flex-column mt-3 mb-3 ml-2">
                <ul class="nav flex-column">
                    <li class="divider mt-3">
                        Invited Speakers
                    </li>
                    <li class="nav-item parent">
                        <a href="/speakers/part/1">Part I - Bioelectronic Interfaces</a>
                        <ul class="nav flex-column p-2 sub-menu border-top">
                            <li class="nav-item"><a href="/speakers/18">Xinyan Tracy Cui</a></li>
                            <li class="nav-item"><a href="/speakers/19">Zhenan Bao</a></li>
                            <li class="nav-item"><a href="/speakers/3">Charles Lieber</a></li>
                            <li class="nav-item"><a href="/speakers/4">Dae-Hyeong Kim</a></li>
                            <li class="nav-item"><a href="/speakers/7">George Malliaras</a></li>
                            <li class="nav-item"><a href="/speakers/17">Xiaojie Duan</a></li>
                        </ul>
                    </li>
                    <li class="nav-item parent">
                        <a href="/speakers/part/2">Part II - Neuromodulation</a>
                        <ul class="nav flex-column p-2 sub-menu border-top">
                            <li class="nav-item"><a href="/speakers/2">Arto Nurmikko</a></li>
                            <li class="nav-item"><a href="/speakers/1">Arnd Pralle</a></li>
                            <li class="nav-item"><a href="/speakers/5">Daryl Kipke</a></li>
                            <li class="nav-item"><a href="/speakers/10">Kullervo Hynynen</a></li>
                            <li class="nav-item"><a href="/speakers/21">Georg Nagel</a></li>
                            <li class="nav-item"><a href="/speakers/20">Jacob Robinson</a></li>
                        </ul>
                    </li>

                    <li class="nav-item parent">
                        <a href="/speakers/part/3">Part III - Neuroprosthetics</a>
                        <ul class="nav flex-column p-2 sub-menu border-top">
                            <li class="nav-item"><a href="/speakers/2">Arto Nurmikko</a></li>
                            <li class="nav-item"><a href="/speakers/1">Arnd Pralle</a></li>
                            <li class="nav-item"><a href="/speakers/5">Daryl Kipke</a></li>
                            <li class="nav-item"><a href="/speakers/10">Kullervo Hynynen</a></li>
                            <li class="nav-item"><a href="/speakers/21">Georg Nagel</a></li>
                            <li class="nav-item"><a href="/speakers/20">Jacob Robinson</a></li>
                        </ul>
                    </li>
                    <li class="nav-item parent">
                        <a href="/speakers/part/4">Part IV - Brain-machine Interfaces</a>
                        <ul class="nav flex-column p-2 sub-menu border-top">
                            <li class="nav-item"><a href="/speakers/12">Lee Miller</a></li>
                            <li class="nav-item"><a href="/speakers/13">Leigh Hochberg</a></li>
                            <li class="nav-item"><a href="/speakers/14">Miguel Nicolelis</a></li>
                            <li class="nav-item"><a href="/speakers/23">Andrew Schwartz</a></li>
                            <li class="nav-item"><a href="/speakers/6">Gaurav Sharma</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-9 col-md-6 col-sm-12">
            {% block speaker %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}